USE [CentralSupplyUnit]
GO
/****** Object:  UserDefinedTableType [dbo].[IdList]    Script Date: 4/20/2026 9:55:57 PM ******/
CREATE TYPE [dbo].[IdList] AS TABLE(
	[Id] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ItemTableType]    Script Date: 4/20/2026 9:55:57 PM ******/
CREATE TYPE [dbo].[ItemTableType] AS TABLE(
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Quantity] [int] NULL
)
GO
/****** Object:  Table [dbo].[Item]    Script Date: 4/20/2026 9:55:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Quantity] [int] NOT NULL,
	[WarehouseId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 4/20/2026 9:55:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplyDocument]    Script Date: 4/20/2026 9:55:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplyDocument](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Subject] [nvarchar](255) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 4/20/2026 9:55:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouse]    Script Date: 4/20/2026 9:55:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SupplyDocument] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SupplyDocument] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Warehouse] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouse] ([Id])
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Warehouse] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouse] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Warehouse]
GO
ALTER TABLE [dbo].[SupplyDocument]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[SupplyDocument]  WITH CHECK ADD FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[SupplyDocument]  WITH CHECK ADD FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouse] ([Id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Warehouse]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[sp_AddItem]    Script Date: 4/20/2026 9:55:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddItem]
    @Name NVARCHAR(100),
    @Description NVARCHAR(255) = NULL,
    @Quantity INT,
    @WarehouseId INT
AS
BEGIN
    IF @Name IS NULL OR LTRIM(RTRIM(@Name)) = ''
    BEGIN
        RAISERROR('Item name is required', 16, 1);
        RETURN;
    END

    IF @Quantity IS NULL OR @Quantity < 0
    BEGIN
        RAISERROR('Quantity must be 0 or greater', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM Warehouse WHERE Id = @WarehouseId)
    BEGIN
        RAISERROR('Invalid WarehouseId', 16, 1);
        RETURN;
    END

    INSERT INTO Item (Name, Description, Quantity, WarehouseId)
    VALUES (@Name, @Description, @Quantity, @WarehouseId);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddSupplyDocument]    Script Date: 4/20/2026 9:55:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddSupplyDocument]
    @Name NVARCHAR(100),
    @Subject NVARCHAR(255),
    @WarehouseId INT,
    @ItemId INT,
    @CreatedBy INT
AS
BEGIN
    INSERT INTO SupplyDocument
    (Name, Subject, WarehouseId, ItemId, CreatedBy, CreatedDate, Status)
    VALUES
    (@Name, @Subject, @WarehouseId, @ItemId, @CreatedBy, GETDATE(), 0) -- Pending = 0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddWarehouse]    Script Date: 4/20/2026 9:55:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddWarehouse]
    @Name NVARCHAR(100),
    @Description NVARCHAR(255)
AS
BEGIN
    BEGIN TRY
        INSERT INTO Warehouse (Name, Description, CreatedDate)
        VALUES (@Name, @Description, GETDATE());
    END TRY
    BEGIN CATCH
        DECLARE @Message NVARCHAR(4000) = ERROR_MESSAGE();

        IF @Message LIKE '%UQ__Warehous%'
            RAISERROR('Warehouse name already exists.', 16, 1);
        ELSE
            RAISERROR(@Message, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddWarehouseWithItems]    Script Date: 4/20/2026 9:55:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddWarehouseWithItems]
    @Name NVARCHAR(100),
    @Description NVARCHAR(255),
    @CreatedBy INT,
    @Items ItemTableType READONLY
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        -- 🔴 تحقق من الاسم (Unique)
        IF EXISTS (SELECT 1 FROM Warehouse WHERE Name = @Name)
        BEGIN
            RAISERROR('Warehouse name already exists.', 16, 1);
            ROLLBACK;
            RETURN;
        END

        -- 🟢 إدخال Warehouse
        INSERT INTO Warehouse (Name, Description, CreatedBy, CreatedDate)
        VALUES (@Name, @Description, @CreatedBy, GETDATE());

        DECLARE @WarehouseId INT = SCOPE_IDENTITY();

        -- 🟢 إدخال Items (إذا في)
        INSERT INTO Item (Name, Description, Quantity, WarehouseId)
        SELECT Name, Description, Quantity, @WarehouseId
        FROM @Items;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;

        DECLARE @Msg NVARCHAR(4000) = ERROR_MESSAGE();

        IF @Msg LIKE '%UQ__Warehous%'
            RAISERROR('Warehouse name already exists.', 16, 1);
        ELSE
            RAISERROR(@Msg, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ApproveSupplyDocument]    Script Date: 4/20/2026 9:55:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_ApproveSupplyDocument]
    @Id INT
AS
BEGIN
    UPDATE SupplyDocument
    SET Status = 1 -- Approved
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteItem]    Script Date: 4/20/2026 9:55:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteItem]
    @Id INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Item WHERE Id = @Id)
    BEGIN
        RAISERROR('Item not found', 16, 1);
        RETURN;
    END

    DELETE FROM Item
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSupplyDocument]    Script Date: 4/20/2026 9:55:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteSupplyDocument]
    @Id INT,
    @UserId INT
AS
BEGIN
    DELETE FROM SupplyDocument
    WHERE Id = @Id AND CreatedBy = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteWarehouse]    Script Date: 4/20/2026 9:55:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteWarehouse]
    @Id INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Warehouse WHERE Id = @Id)
    BEGIN
        RAISERROR('Warehouse not found', 16, 1);
        RETURN;
    END

    DELETE FROM Warehouse WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteWarehouses]    Script Date: 4/20/2026 9:55:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteWarehouses]
    @Ids IdList READONLY
AS
BEGIN
    SET NOCOUNT ON;

    -- 🔴 تحقق: هل في Supply Documents مرتبطة؟
    IF EXISTS (
        SELECT 1
        FROM SupplyDocument sd
        JOIN Item i ON sd.ItemId = i.Id
        WHERE i.WarehouseId IN (SELECT Id FROM @Ids)
    )
    BEGIN
        RAISERROR('Cannot delete warehouse because it has related supply documents.', 16, 1);
        RETURN;
    END

    -- 🟢 إذا ما في مشكلة → احذف
    DELETE FROM Warehouse
    WHERE Id IN (SELECT Id FROM @Ids);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSupplyDocuments]    Script Date: 4/20/2026 9:55:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllSupplyDocuments]
AS
BEGIN
    SELECT 
        sd.Id,
        sd.Name,
        sd.Subject,
        sd.CreatedDate,
        sd.Status AS StatusId,
CASE sd.Status
    WHEN 0 THEN 'Pending'
    WHEN 1 THEN 'Approved'
    WHEN 2 THEN 'Rejected'
END AS StatusName,

        u.UserName AS CreatedByName,
        w.Name AS WarehouseName,
        i.Name AS ItemName

    FROM SupplyDocument sd
    INNER JOIN [User] u ON sd.CreatedBy = u.Id
    INNER JOIN Warehouse w ON sd.WarehouseId = w.Id
    INNER JOIN Item i ON sd.ItemId = i.Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllWarehousesWithItems]    Script Date: 4/20/2026 9:55:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_GetAllWarehousesWithItems]
AS
BEGIN
    SELECT 
        w.Id AS WarehouseId,
        w.Name AS WarehouseName,
        w.Description,
        w.CreatedBy,
        u.FullName AS CreatedByName,
        w.CreatedDate,

        i.Id AS ItemId,
        i.Name AS ItemName,
        i.Description AS ItemDescription,
        i.Quantity

    FROM Warehouse w
    INNER JOIN [User] u ON w.CreatedBy = u.Id
    LEFT JOIN Item i ON w.Id = i.WarehouseId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetItemById]    Script Date: 4/20/2026 9:55:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetItemById]
    @Id INT
AS
BEGIN
    SELECT 
        i.Id,
        i.Name,
        i.Description,
        i.Quantity,
        i.WarehouseId,
        w.Name AS WarehouseName
    FROM Item i
    INNER JOIN Warehouse w ON i.WarehouseId = w.Id
    WHERE i.Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetItems]    Script Date: 4/20/2026 9:55:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetItems]
AS
BEGIN
    SELECT 
        i.Id,
        i.Name,
        i.Description,
        i.Quantity,
        i.WarehouseId,
        w.Name AS WarehouseName
    FROM Item i
    INNER JOIN Warehouse w ON i.WarehouseId = w.Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSupplyDocumentsByUser]    Script Date: 4/20/2026 9:55:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSupplyDocumentsByUser]
    @UserId INT
AS
BEGIN
    SELECT 
        sd.Id,
        sd.Name,
        sd.Subject,
        sd.CreatedDate,
        sd.Status AS StatusId,
CASE sd.Status
    WHEN 0 THEN 'Pending'
    WHEN 1 THEN 'Approved'
    WHEN 2 THEN 'Rejected'
END AS StatusName,
        u.UserName AS CreatedByName,
        w.Name AS WarehouseName,
        i.Name AS ItemName

    FROM SupplyDocument sd
    INNER JOIN [User] u ON sd.CreatedBy = u.Id
    INNER JOIN Warehouse w ON sd.WarehouseId = w.Id
    INNER JOIN Item i ON sd.ItemId = i.Id

    WHERE sd.CreatedBy = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetWarehouseById]    Script Date: 4/20/2026 9:55:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetWarehouseById]
    @Id INT
AS
BEGIN
    IF @Id IS NULL OR @Id <= 0
    BEGIN
        RAISERROR('Invalid Warehouse Id', 16, 1);
        RETURN;
    END

    SELECT  Id,
        Name,
        Description,
        CreatedBy,
        CreatedDate FROM Warehouse WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetWarehouses]    Script Date: 4/20/2026 9:55:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create PROCEDURE [dbo].[sp_GetWarehouses]
AS
BEGIN
    SELECT 
        Id,
        Name,
        Description,
        CreatedBy,
        CreatedDate
    FROM dbo.Warehouse;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetWarehousesByUser]    Script Date: 4/20/2026 9:55:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_GetWarehousesByUser]
    @UserId INT
AS
BEGIN
    SELECT 
        w.Id,
        w.Name,
        w.Description,
        w.CreatedBy,
        w.CreatedDate
    FROM Warehouse w
    WHERE w.CreatedBy = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetWarehousesWithItemsByUser]    Script Date: 4/20/2026 9:55:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[sp_GetWarehousesWithItemsByUser]
    @UserId INT
AS
BEGIN
    SELECT 
        w.Id AS WarehouseId,
        w.Name AS WarehouseName,
        w.Description,
        w.CreatedBy,
        u.FullName AS CreatedByName, -- 🔥 الجديد
        w.CreatedDate,

        i.Id AS ItemId,
        i.Name AS ItemName,
        i.Description AS ItemDescription,
        i.Quantity

    FROM Warehouse w
    INNER JOIN [User] u ON w.CreatedBy = u.Id -- 🔥 الربط
    LEFT JOIN Item i ON w.Id = i.WarehouseId
    WHERE w.CreatedBy = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RejectSupplyDocument]    Script Date: 4/20/2026 9:55:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_RejectSupplyDocument]
    @Id INT
AS
BEGIN
    UPDATE SupplyDocument
    SET Status = 2 -- Rejected
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateItem]    Script Date: 4/20/2026 9:55:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateItem]
    @Id INT,
    @Name NVARCHAR(100),
    @Description NVARCHAR(255) = NULL,
    @Quantity INT,
    @WarehouseId INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Item WHERE Id = @Id)
    BEGIN
        RAISERROR('Item not found', 16, 1);
        RETURN;
    END

    IF @Quantity IS NULL OR @Quantity < 0
    BEGIN
        RAISERROR('Quantity must be 0 or greater', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM Warehouse WHERE Id = @WarehouseId)
    BEGIN
        RAISERROR('Invalid WarehouseId', 16, 1);
        RETURN;
    END

    UPDATE Item
    SET 
        Name = @Name,
        Description = @Description,
        Quantity = @Quantity,
        WarehouseId = @WarehouseId
    WHERE Id = @Id;
END
GO
